[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cody/Desktop/computer.desktop]
row=4
col=0

[/home/cody/Desktop/Token linux]
row=2
col=1

[/home/cody/Desktop/userfiles.desktop]
row=3
col=0

[/home/cody/Desktop/helpmanual.desktop]
row=2
col=0

[/home/cody/Desktop/settings.desktop]
row=0
col=1

[/home/cody/Desktop/network.desktop]
row=1
col=0

[/home/cody/Desktop/code.desktop]
row=1
col=1

[Papelera]
row=0
col=0

